server {
    listen {{ nginx_port }};
    listen [::]:{{ nginx_port }};

    server_name _;

    root {{ nginx_web_root }};
    index index.html;

    access_log /var/log/nginx/{{ nginx_site_name }}_access.log;
    error_log /var/log/nginx/{{ nginx_site_name }}_error.log;

    location / {
        try_files $uri $uri/ =404;
    }
}